.nav {
  background-color: #4a90e2;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: .4s ease-in-out;
}
.nav:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 0.611);
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 0.5rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  transition: .2s linear;
  display: inline-block;  
  border-radius: 10px;
  position: relative;
}

.navLink:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;  
}

.activeLink::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.785);
  border-radius: 5px;
}
.activeLink{
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.39);
}


